<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chia sẻ sách</title>
  <link rel="stylesheet" th:href="@{css/style.css}" />
</head>
<body>
  <div id="top">
    <div id="logo">
      <a href="#logo">Chia Sẻ Sách</a>
    </div>
    <div id="navbar">
      <ul>
  <li><a class="active" href="#home">Trang chủ</a></li>
  <li class="dropdown"><a href="#news" class="dropbtn">Danh Mục</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Lik 2</a>
      <a href="#">Lid</a>
    </div>
  </li>
  <li><a href="#about">Thông Tin</a></li>
  <li style="float:right" class="dropdown"><a style="color: #3399ff" href="/login" class="dropbtn">Đăng Nhập</a>
    <div class="dropdown-content">
      <a href="#">Dashboard</a>
      <a href="#">Đăng xuất</a>
    </div>
  </li>
</ul>
    </div>
  </div>
  <hr>
  <div id="main">
    <div id="search-container">
      <form action="">
        <select id="list-search">
          <option th:each="theloai : ${listTheLoai}" th:value="${theloai.idTheLoai}" th:text="${theloai.tenTheLoai}"></option>
        </select>
      <input type="text" placeholder="Tên sách" name="search">
      <button type="submit">Tìm kiếm</button>
      </form>
    </div>
    <div id="helloworld">
      <p><h1>Chia sẻ sách </h1></p>
    <p><h3>Thư viện sách miễn phí vì cộng đồng </h3></p>
    </div>
  </div>
<hr>
  <div id="footer">Copyright © 2021</div>
</body>
</html>