<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chia sẻ sách</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <div id="top">
    <div id="logo">
      <a href="#logo">Chia Sẻ Sách</a>
    </div>
    <div id="navbar">
      <ul>
  <li th:if="${session.userlogin == null}" style="float:right" class="dropdown"><a style="color: #3399ff" href="/login" class="dropbtn">Đăng Nhập</a>
  </li>
  
  <li th:unless="${session.userlogin == null}" style="float:right" class="dropdown"><a th:text="${session.userlogin}" style="color: #3399ff" href="/login" class="dropbtn">Đăng Nhập</a>
    <div class="dropdown-content">
      <a href="/dashboard">Dashboard</a>
      <a href="/logout">Đăng xuất</a>
    </div>
  </li>
</ul>
    </div>
  </div>
  <hr>
  <div class="menu-left">
  <ul>
  <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/dashboard/quanlysach">Quản lý sách</a>
  <li><a class="active"  href="/dashboard/quanlytheloai">Quản lý thể loại</a></li>
</ul>
    </div>

<div style="margin-left:25%;padding:1px 16px;height:auto;">
  <div class="row-crud">
    <form action="/dashboard/quanlytheloai/edit" th:object="${suaTheLoaiForm}" method="post">
      <p>ID:
        <input th:value="${theloai.idTheLoai}" style="margin-left:59px;" type="text" class="id" name="idTheLoai" id="id" readonly="true">
      </p>
      <p>Tên thể loại: 
        <input th:value="${theloai.tenTheLoai}" style="margin-left:6px;" type="text" class="tenTheLoai" name="tenTheLoai" id="tenTheLoai" required>
      </p>
      <p>
        <input style="margin-left: 80px" type="submit" class="btnThem" id="btnThem" value="Sửa">
      </p>
    <!--  <p th:text="${message}" style="color: green; text-align: center">
        Chỉnh sửa thành công
      </p>  --> 
      </form>
  </div>
 
</div>
</body>
</html>