<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chia sẻ sách</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <div id="top">
    <div id="logo">
      <a href="index">Chia Sẻ Sách</a>
    </div>
    <div id="navbar">
      <ul>
  <li style="float:right" class="dropdown"><a href="#" class="dropbtn">Đăng Nhập</a>
    <div class="dropdown-content">
      <a href="/dashboard">Dashboard</a>
      <a href="/logout">Đăng xuất</a>
    </div>
  </li>
</ul>
    </div>
  </div>
  <hr>
  <div class="menu-left">
  <ul>
  <li><a href="#home">Dashboard</a></li>
    <li><a href="#news">Quản lý sách</a>
  <li><a class="active" href="#news">Quản lý danh mục</a></li>
</ul>
    </div>

<div style="margin-left:25%;padding:1px 16px;height:auto;">
  <div class="row-crud">
    <form action="">
      <p>Tên thể loại: 
        <input style="margin-left:6px;" type="text" class="tenSach" id="tenSach" required>
      </p>
      <p>
        <input style="margin-left: 80px" type="submit" class="btnThem" id="btnThem" value="Thêm">
      </p>
      <p style="color: green; text-align: center">
        Thêm thành công
      </p>
      </form>
  </div>
 
</div>
</body>
</html>